<h2><%= @room.name %></h2>

<%= if Prater.Auth.Authorizer.can_manage?(@current_user, @room) do %>
  <div>
    <%= link "Edit", to: room_path(@conn, :edit, @room.id), class: "btn btn-default" %>
    <%= link "Delete", to: room_path(@conn, :delete, @room), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" %>
  </div>
<% end %>

<div><%= @room.description %></div>
